@mixin info-container {
  .container {
    position: relative;
    background-color: $light_yellow;
    display: grid;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    min-height: 100vh;
    & div {
      position: relative;
      z-index: 2;
    }

    @media screen and (max-width: 1024px) {
      padding-block: 60px;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  img {
    top: 0;
    position: absolute;
  }

  .img-1 {
    width: 550px;
    left: -260px;
    @media screen and (max-width: 1280px) {
      width: 500px;
    }
    @media screen and (max-width: 1024px) {
      top: 80px;
      width: 450px;
    }
    @media screen and (max-width: 540px) {
      top: 200px;
    }
  }

  .img-2 {
    width: 950px;
    right: -300px;
    @media screen and (max-width: 1280px) {
      width: 850px;
    }
    @media screen and (max-width: 1024px) {
      width: 750px;
    }
  }
}
