@mixin category-page-container {
  .container {
    background-color: $light_yellow;
    min-height: 72vh;
  }

  .category-empty {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .category {
    padding-block: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    @media screen and (max-width: 1512px) {
      gap: 20px;
    }
    @media screen and (max-width: 1024px) {
      justify-content: center;
      grid-template-columns: 1fr;
    }
  }
}
