@mixin detailed-container {
  .container {
    padding-block: 40px;
  }

  .detailed-title {
    display: flex;
    gap: 100px;
    @media screen and (max-width: 767px) {
      gap: 20px;
      flex-direction: column;
      align-items: center;
    }
  }

  li {
    display: flex;
    align-items: baseline;
  }

  img {
    object-fit: cover;
    width: 600px;
    height: 350px;
  }

  .detailed-subtitle {
    margin-top: 40px;
  }

  .detailed-texts {
    width: 100%;
    & :first-child {
      text-align: center;
    }
  }
}
