@mixin detailed-container {
  .container {
    padding-block: 40px;
  }

  .detailed-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.2fr 0.5fr;
    @media screen and (max-width: 1024px) {
      display: flex;
      gap: 20px;
      flex-direction: column;
      align-items: center;
    }
  }

  :deep(p:nth-of-type(1)) {
    position: relative;
    font-size: 0;
    grid-row: 1 / span 3;
  }

  :deep(img) {
    width: 600px;
    height: 400px;
    object-fit: cover;
  }

  :deep(p:nth-of-type(2)) {
    font-size: 78px;
  }

  :deep(p:nth-of-type(3)) {
    font-size: 40px;
  }

  :deep(p:nth-of-type(4)) {
    margin-top: 20px;
  }

  :deep(li) {
    font-size: 30px;
    padding-left: 35px;
    position: relative;
    display: flex;
    align-items: center;
  }

  :deep(li::before) {
    content: "•";
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    left: 0;
    color: #000;
  }

  a {
    width: 14px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 100%;
    top: 12px;
    right: 12px;
  }

  .detailed-edit {
    width: 24px;
    height: 24px;
  }
}
