@mixin header-container {
  header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $pale_yellow;
  }

  .logo {
    height: 80px;
  }

  .burger-btn {
    display: none;
    @media screen and (max-width: 560px) {
      display: flex;
      background-color: transparent;
    }
  }

  .burger-icon {
    height: 30px;
  }

  .navs {
    display: flex;
    gap: 20px;
    @media screen and (max-width: 560px) {
      display: none;
    }
  }

  .nav-home {
    background-color: transparent;
  }
}
