@mixin admin-table-container {
  .card {
    border: 1px solid $grey;
  }

  img {
    width: 150px;
    height: 90px;
    object-fit: cover;
    border-radius: 12px;
  }

  .empty {
    height: calc(100vh - 587px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table-link {
    background-color: transparent;
    color: rgb(117, 0, 212);
  }
}
